In [81]:
#Importando bibliotecas
import pandas as pd
import json

In [2]:
#lendo os dodos
df=pd.read_csv('desafio1.csv')

In [4]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [7]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [9]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [13]:
aux=pd.DataFrame({'columns':df.columns,'tipo':df.dtypes})
aux

                                           columns     tipo
RowNumber                                RowNumber    int64
id                                              id   object
sobrenome                                sobrenome   object
pontuacao_credito                pontuacao_credito    int64
estado_residencia                estado_residencia   object
genero                                      genero   object
idade                                        idade    int64
nivel_estabilidade              nivel_estabilidade    int64
saldo_conta                            saldo_conta  float64
numero_produtos                    numero_produtos    int64
possui_cartao_de_credito  possui_cartao_de_credito    int64
membro_ativo                          membro_ativo    int64

In [14]:
df.isna().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

In [17]:
df.estado_residencia.value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

In [19]:
df_SC=df[df.estado_residencia == 'SC']

In [36]:
df_RS=df[df.estado_residencia == 'RS']

In [31]:
df_PR=df[df.estado_residencia == 'PR']

### Santa Catarina

In [42]:
df_SC.pontuacao_credito.describe()

count    3519.000000
mean      649.537653
std        97.233493
min       359.000000
25%       581.000000
50%       653.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [61]:
#média Santa Catarina
SC_media = df_SC.pontuacao_credito.mean()

In [62]:
#mediana Santa Catarina
SC_mediana = df_SC.pontuacao_credito.median()

In [63]:
#moda Santa Catarina
SC_moda = float(df_SC.pontuacao_credito.mode())

In [64]:
#desvio padrão Santa Catarina
SC_desv = df_SC.pontuacao_credito.std()

### Rio Grande do Sul

In [45]:
df_RS.pontuacao_credito.describe()

count    1750.000000
mean      651.105143
std        95.136598
min       350.000000
25%       585.000000
50%       650.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [57]:
RS_media = df_RS.pontuacao_credito.mean()

In [58]:
RS_mediana = df_RS.pontuacao_credito.median()

In [59]:
RS_moda = float(df_RS.pontuacao_credito.mode())

In [60]:
RS_desv = df_RS.pontuacao_credito.std()

### Paraná

In [48]:
df_PR.pontuacao_credito.describe()

count    1731.000000
mean      648.961294
std        98.607186
min       350.000000
25%       581.000000
50%       650.000000
75%       719.500000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [65]:
PR_media = df_PR.pontuacao_credito.mean()

In [66]:
PR_mediana = df_PR.pontuacao_credito.median()

In [67]:
PR_moda = float(df_PR.pontuacao_credito.mode())

In [68]:
PR_desv = df_PR.pontuacao_credito.std()

In [79]:
answer={"SC": {"moda": SC_moda, "mediana": SC_mediana, "media": SC_media, "desvio_padrao": SC_desv},
        "RS": {"moda": RS_moda, "mediana": RS_mediana, "media": RS_media, "desvio_padrao": RS_desv}, 
        "PR": {"moda": PR_moda, "mediana": PR_mediana, "media": PR_media, "desvio_padrao": PR_desv}}

In [80]:
answer

{'SC': {'moda': 850.0,
  'mediana': 653.0,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343306},
 'RS': {'moda': 850.0,
  'mediana': 650.0,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138357},
 'PR': {'moda': 850.0,
  'mediana': 650.0,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309772}}

In [82]:
with open('submission.json','w') as json_file:
    json.dump(answer, json_file)