# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
black_friday.dtypes.nunique()

3

In [5]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [6]:
black_friday['Product_Category_3'].isna().sum()

373299

In [7]:
black_friday.shape[0]

537577

In [8]:
black_friday['Product_Category_3'].mode()

0    16.0
dtype: float64

In [9]:
black_friday.groupby(['Gender','Age'])['User_ID'].nunique()

Gender  Age
F       0-17       78
        18-25     287
        26-35     545
        36-45     333
        46-50     182
        51-55     142
        55+        99
M       0-17      140
        18-25     782
        26-35    1508
        36-45     834
        46-50     349
        51-55     339
        55+       273
Name: User_ID, dtype: int64

In [10]:
black_friday['User_ID'].nunique()

5891

In [11]:
black_friday.groupby('Gender')['Age'].value_counts()

Gender  Age
F       26-35     49348
        36-45     26420
        18-25     24057
        46-50     12856
        51-55      9634
        0-17       4953
        55+        4929
M       26-35    165342
        36-45     81079
        18-25     73577
        46-50     31670
        51-55     27984
        55+       15974
        0-17       9754
Name: Age, dtype: int64

In [12]:
df = black_friday[black_friday.Age == '26-35']

In [13]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073

In [14]:
df=df[df.Gender == 'F']

In [15]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027
124,1000024,P00346642,F,26-35,7,A,3,1,8,NaN,NaN,2230
125,1000024,P00205642,F,26-35,7,A,3,1,5,8.0,NaN,6940

In [16]:
df['User_ID'].nunique()

545

In [17]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [18]:
x=black_friday[black_friday['Product_Category_2'].isna()]

In [19]:
x.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            166986
Purchase                           0
dtype: int64

In [20]:
x['Product_Category_2'].isna().sum()==x['Product_Category_3'].isna().sum()

True

In [21]:
black_friday['Product_Category_3'].isna().sum()/black_friday.shape[0]

0.6944102891306734

In [22]:
black_friday2=black_friday.copy()

In [23]:
black_friday2['Purchase_Pad']=(black_friday2['Purchase'] - black_friday2['Purchase'].mean())/black_friday2['Purchase'].std()

In [24]:
black_friday2['Purchase_Pad'].mean()

-9.043975390106449e-17

In [25]:
black_friday2['Purchase_Norm']=(black_friday2['Purchase']-black_friday2['Purchase'].min())/(black_friday2['Purchase'].max()-
                                                                                        black_friday2['Purchase'].min())

In [26]:
black_friday2['Purchase_Norm_category']=pd.cut(black_friday2['Purchase_Norm'],
                                    bins=(-1000,-1,1,1000),
                                    labels=('menor -1', 'entre -1 e 1', 'maior 1'))

In [27]:
black_friday2['Purchase_Norm_category'].nunique()

1

In [28]:
black_friday2['Purchase_Norm_category'].shape[0]

537577

In [29]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [30]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [31]:
def q2():
    # Retorne aqui o resultado da questão 2.
    df = black_friday[black_friday.Age == '26-35']
    df=df[df.Gender == 'F']
    return df.shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [32]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [33]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [34]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return black_friday['Product_Category_3'].isna().sum()/black_friday.shape[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [35]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return black_friday['Product_Category_3'].isna().sum()

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [36]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday['Product_Category_3'].mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [37]:
def q8():
    # Retorne aqui o resultado da questão 8.
    black_friday2=black_friday.copy()
    black_friday2['Purchase_Norm']=(black_friday2['Purchase']-black_friday2['Purchase'].min())/(black_friday2['Purchase'].max()-
                                                                                        black_friday2['Purchase'].min())
    return black_friday2['Purchase_Norm'].mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [38]:
def q9():
    # Retorne aqui o resultado da questão 9.
    black_friday2=black_friday.copy()
    black_friday2['Purchase_Pad']=(black_friday2['Purchase'] - black_friday2['Purchase'].mean())/black_friday2['Purchase'].std()
    black_friday2['Purchase_Pad_category']=pd.cut(black_friday2['Purchase_Pad'],
                                    bins=(-1000,-1,1,1000),
                                    labels=('menor -1', 'entre -1 e 1', 'maior 1'))
    black_friday2['Purchase_Pad_category'].nunique()
    x=black_friday2[black_friday2.Purchase_Pad_category=='entre -1 e 1']
    
    return x.shape[0]

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [39]:
def q10():
    # Retorne aqui o resultado da questão 10.
    x=black_friday[black_friday['Product_Category_2'].isna()]
    return x['Product_Category_2'].isna().sum()==x['Product_Category_3'].isna().sum()

In [50]:
q1()

(537577, 12)

In [51]:
q2()

49348

In [52]:
q3()

5891

In [53]:
q4()

3

In [54]:
q5()

0.6944102891306734

In [55]:
q6()

373299

In [56]:
q7()

16

In [57]:
q8()

0.38479390362696736

In [58]:
q9()

348631

In [59]:
q10()

True