# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

In [2]:
#%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Parte 1

### _Setup_ da parte 1

In [3]:
np.random.seed(42)
    
dataframe = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

## Inicie sua análise a partir da parte 1 a partir daqui

Questão 1

In [4]:
#DataSet
dataframe.head()

      normal  binomial
0  21.986857        18
1  19.446943        15
2  22.590754        14
3  26.092119        15
4  19.063387        21

In [5]:
#média normal
media_n=dataframe.normal.mean()
media_n

19.991456066526293

In [6]:
#desvio padrão normal
desvio_n=dataframe.normal.std()
desvio_n

4.013849522013619

In [7]:
#Calculando os quartis da normal
q1_norm=dataframe['normal'].quantile(0.25)
q2_norm=dataframe['normal'].quantile(0.5)
q3_norm=dataframe['normal'].quantile(0.75)

In [8]:
#Calculando os quartis da binomial
q1_binom=dataframe['binomial'].quantile(0.25)
q2_binom=dataframe['binomial'].quantile(0.5)
q3_binom=dataframe['binomial'].quantile(0.75)

In [9]:
#Diferença 1º quartil
dif_1=round(q1_norm-q1_binom,3)

In [10]:
#Diferença 2º quartil
dif_2=round(q2_norm-q2_binom,3)

In [11]:
#Diferença 3º quartil
dif_3=round(q3_norm-q3_binom,3)

Questão 2

In [12]:
#função cdf empirica
ecdf=ECDF(dataframe.normal)

In [13]:
#ecdf média + desvio
sup=ecdf(media_n+desvio_n)

In [14]:
#ecdf média - desvio
inf=ecdf(media_n-desvio_n)

In [15]:
#diferença 
round(sup-inf,3)

0.684

Questão 3

In [16]:
#média binomial
media_b=dataframe.binomial.mean()

In [17]:
#desvio binomial
desvio_b=dataframe.binomial.std()

In [18]:
#diferença média
dif_m=media_b-media_n
dif_m=round(dif_m,3)

In [19]:
#Diferença variancia
dif_d=desvio_b**2-desvio_n**2
dif_d=round(dif_d,3)

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [20]:
def q1():
    
    return dif_1,dif_2,dif_3

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [21]:
def q2():
    return round(sup-inf,3)

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [22]:
def q3():
    return dif_m,dif_d

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

## Parte 2

### _Setup_ da parte 2

In [23]:
stars = pd.read_csv("pulsar_stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

## Inicie sua análise da parte 2 a partir daqui

In [24]:
# Sua análise da parte 2 começa aqui
stars.head()

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,False
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,False
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,False
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,False
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,False

In [25]:
#passo 1 - filtrando traget 0
stars_1=stars[stars.target==0]

In [26]:
stars_1.head()

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,False
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,False
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,False
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,False
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,False

In [27]:
#padronizando a variável
stars_1['false_pulsar_mean_profile_standardized']=(stars_1.mean_profile-stars_1.mean_profile.mean())/stars_1.mean_profile.std()

c:\users\t-gamer\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
stars_1.head()

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target,false_pulsar_mean_profile_standardized
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,False,-0.804181
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,False,-0.775123
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,False,1.155263
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,False,-1.592787
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,False,-1.315613

In [29]:
p08=sct.norm.ppf(0.8, loc=0, scale=1)

In [30]:
p09=sct.norm.ppf(0.9, loc=0, scale=1)

In [31]:
p095=sct.norm.ppf(0.95, loc=0, scale=1)

In [32]:
ecdf2=ECDF(stars_1.false_pulsar_mean_profile_standardized)

In [33]:
round(ecdf2(p08),3)

0.806

In [34]:
round(ecdf2(p09),3)

0.911

In [35]:
round(ecdf2(p095),3)

0.959

Questão 5

In [36]:
v1=stars_1.false_pulsar_mean_profile_standardized.quantile(0.25)

In [37]:
v2=stars_1.false_pulsar_mean_profile_standardized.quantile(0.5)

In [38]:
v3=stars_1.false_pulsar_mean_profile_standardized.quantile(0.75)

In [39]:
x1=sct.norm.ppf(0.25, loc=0, scale=1)

In [40]:
x2=sct.norm.ppf(0.5, loc=0, scale=1)

In [41]:
x3=sct.norm.ppf(0.75, loc=0, scale=1)

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [42]:
def q4():
    return round(ecdf2(p08),3),round(ecdf2(p09),3),round(ecdf2(p095),3)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [43]:
def q5():
    return round(v1-x1,3),round(v2-x2,3),round(v3-x3,3)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.

In [44]:
q1()

(0.31, -0.01, -0.316)

In [45]:
q2()

0.684

In [46]:
q3()

(0.106, 0.22)

In [47]:
q4()

(0.806, 0.911, 0.959)

In [48]:
q5()

(0.027, 0.04, -0.004)